html, body {
	padding: 0;
	margin: 0;
	width: 100%;
}

html {
	height: 100%;
}

body {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAMAAAAL34HQAAAADFBMVEU7PUQ+QEc+QEdAQUjrgPIxAAAGH0lEQVR42s2ci7KjOAxE6dL///POOEd0VK5diiXYYuYmgfghtZ6WCUfEoeM4FPrzHuP1c+HvSxyf4/NZ43y8jWYx2tIo/vz7ezkOfS5FZHMOxhyjxjmmxhj0p2t2gRI6QmWMmXPeGKc6RCdBBEc581VoHV3gn8aFc5DJt+DywAzgQuOCygQA4Gu0gUomPecCPsFZsqyvgaOONtrGgG5whzxoAyrH+U1oj5SZZTQWzDFCAEXtxsSIAeLN2LhiuUKwITa0PqwpqUGzsg0oI8LtpSSDE+OTwwsiTu0wIAGx7idmOukbs4Wq3gRU0A0MIS8HGxJXpUgCTnANNEce+KQE+dsu4BtjcE8TPEi2RlRTUVEAGWSVkfVb8zlmDAHwM61yiKoZtIIahGQlUqp8kV1iFSFJRqSqMGiEvkw2zDOwjE8pwhwuEDR0nfhHUTosLS2dYaJI1kxjN0x5p/E6RQR4XwOAr/6RM1jsboSNgnPiX1Rp8A3MKfMhx9EOGAw73jQA2IAV5auMcP08d0wxM5xg+4nMmOlsMOiKVAO+NyM+jCBGGYoiJ7wzSATjE2v5XAJaNgXC09YZFJbQuVNA5pO4LMXQG7s+Jjcwy2R+RLacPAFdImGOYh8Y5FsxFZr5DlfFWQ2QhlmjmUMYQq3JBN1PCzRcBmuMb5bt2q3L9g3WOQNuwQqy0RNHFNOiUMGcP8Y2ju4wpQtRsNQIy0PHlO7bM1aD1RhaOQmO4PhmdPzLiG2JREj/7QGWxl9mwySHrdlPA9OcRn1wghzLxDpoQ8iOwZDnF7xG0EuMCuWAOLgpLGAMtE6JHRslNvvsTtloPRYtZbA1M2EF8bic2c0zUSpLOtFKltIQcg7aApvoDff8gQRj4ajok9RatCchXC/2F/QpCaWRFVG3IolikT2KSaN6xJDZm9NgWTmgoltsvOuQV6zfGi98kIY9pNDlyX0xNu0hzgOdho4REr9OYd/T5RhagO8HS7gwIgaJBNEDYHr0V6AIYI51YIucK4AWmiKVPAYdF4ztNNI+S1bZTB5XEF5a/f6mGMVo1vj8DwWVOOM921sACbJNPmrEgh7Rh6AEV45hJmwYSZS8wq2RvMVRD5F8hSLobnGD3Rn4QMXZEpVK2oKl4ocMNltKu2qxJ3G5llCtfXSJReakuMnYXQOYM1Yu24GUBCKBdqw3nFPeYMxlw5QcPfWvoDxPKV9Zl2/ZQ7kuaz+wYrMb9pWYDXIhRN8vKdxf9rrh7I1/VQCqDqWPy39etbMdIF8A9uFltukzq2BeFf7G6nedL7k2nz27Ql+KMjOAb7ECLkv8j8UVorlwYt6g2rEZZ0wstgEgo9Vbx7u2na4rfs9N68dhehwXq+NNi8geuwNzTtAPJ3/ut/a5sJctFfKG5Qcu3FhJLZV3h+qtJW52k2NmaRKLHhRWXixklouBzu8vix87dsivc+2bK5llwepGirLS5W6wfpA5aY5QMIEg96Jctc3JXoC9K7+/UTte6eIKjA0Kz3t3pa8XDw5YxhLkU41s75IRfnFfOQdiNV8ihVC0E2xefBDMw9INwI5UrOqieedCms3s5F+4eefhfZn9bmFxBOxZsImltbS6LvWFwA+LRnpnif+/l/hWxR270de337pw38om1+xaykOUW3BnD23d8nmj5cY7vJ6hi+8TZ0cJaw3vVjQ3mbzN1i3/HdXaCF0lCI22gWtePalHj5vg6JqJSJs1djsrZPwaG7r8NMPsGgbtv/OG/u2WZfPatIE361kYUadavFOWVtv5YW6aYYSHrJXuRrWuZjfWOD/vuO1zNL1VasE6624s7ZGKzrWqTfv314p5rLl9+q7v4PtezxO4GGdnjQl32Oq3uU23qqNZrsVr7N91ClrWbPlupXrNDy3nclWPEs4bQnh+q8CzEtBrwauVW2Ct3CllUMG+2x1l4Lbk0QX3b209OizA5ro6bbul9FP9qUtG0XGPrES7Ro8VaPkrdDq1e+CI3UCnJ15tcpfXvwRgkG6JRNOn/jw0p7eCxLbk5iK5afSQGPvPhj88kmCjZZ3yOm5q6f1UjclqKsSmKt/UQbR0p32DT8dQ3Tex6ZkGdk2a/wFiHzlZDUopDAAAAABJRU5ErkJggg==) #3b3c44;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #d3d3d3;
	min-height: 100%;
	position: absolute;
}

body:before,
body:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100px;
	content: '';
	background-repeat: repeat-y;
	/* opacity: .8; */
}

body:before {
	left: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAAAeCAYAAAA4h6CKAAACTklEQVRo3tVa0W7DMAg81h9at///tJE9LJGQZTvgHCSrFDlqGxeM4Y5zBcAX/l7bfom5R2dE8zlOvt8b22dX5pg9O/MDzve9NjFsB4BN9mDIwKHZj3sWMmPRvb+PomDQgiIA3s2bLwBqJl4JQnThGKOae9kvdWwMVjBpmYFJamcYl5nynlJbUX7Czx/BOBxAwAnmDmHM2QuEnffqBknPblumpHFIB7vtyu7OdFADG8qT6RVZPAzGh3GorcEeYyNByMIMaUquBoC6AtfCZUpNpugFoGMyoAiAy6Bsre700jL13amxMqjHWfybTW23QWA8i5xJXELUViYZwQZbtkNq5oywqSh2lFHbdpRAZqwwsczM8CoJt2OFDcanwYtsfs6UVNrxx2Q2g0yUB2vW9GUalxGUrcOkMOlHcJfsESlTmPQbWYBWWaZY1Jae3QeAS8CpSrGP1fRJQGu7tc94d1gIAipuRoaszGH7DPuZBndyRU8UkkO2E/EQD80MqySsZvgd8v9QDhl1rpWHLawy5QnAYyjvKDNWBMK71Vt1YN9KMDLp+JRNbSeBeTKAz2yNAHg5pZ2xKTjOBq4CWuYZOBbL0KottCAxmj5PtxvtehlNXxajS6sULWas6EtPkUO8EvpjyhJDQr9ifAVdPC7LDqtkHqqE/moc0CTQzfx3iEfwhNO3EhblpbaMjrwqONqcx3gXOUOdpsohVQdDGceu7KOAsuy2bOoO1ZKdXTLRorL+kJBCbc/k5//S9J2pB6x+KbUDh5MSPg0rRnZfpbblVPcXfD8EeWo/4egAAAAASUVORK5CYII=);
	/* background-position: 100% 0; */
}

body:after {
	right: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAAAeCAYAAAA4h6CKAAACQElEQVRo3tVaW27EIAwc0/sfrdleqHU/upEQCsRv0v3pdgMIsD0ej0MACH8fz9/zu3bcbN7qdx7GUNDeZ3ujwHOtznFQkREijQHBhUY6mMRIs3Uka5+GObIP4r3M8Xl7b5yH3yqM4ZnTP6f3nr+HMS9KjgQvnJECqqL3kuF8s3OgIjIsYTubN3oXD/8jCOcjDSwZe54j3BjaS/dGDgfAlBQirefkCdT2TmWCqarImR22DaHNBTlDYxQJErTOCA3AT7YxpDBl9bDeoxpySEbGWm3Y9xaY0uLz1fzeAJF1hmYNTz01Otb47JM2hbg38XE3vqE++XrXuKLo23KGh3VxUWRoGJE0Mnix3kEPvGxp0jw96yMpIjxsShvhDOCrugKXjMeifsAFo6JCI0QSl/CiTyuQealtJUxFyz7tYu+lMOWpuFdYW1H0RTvpyok4I4FbhUBJpLVhvLXOyGBNGoNfUdwSNmWBIYlH9ZXrEyMDN6Ig7ZRDtJEhNYwHpiqbaTMlIVUO0TIUiTHusHYHTFkMzgsZvRSmvM0YFvQGnp7AcSPrHIS9dYVFo0Kwd3vWtFbgdEFGXlQET9FMJqPo8zBDj/C5rc7wdPyiJfQMOcTa6Xt0c2nmQSf7oAS8jxQKZ+d4lIQumd+Eym20hB4pj9xJ5/0bImkSeoSaKZnf9wPaxsu3VNzl1NZ72RXNpYwX4jxNstfTqK0mQTbEvD/lMUaUap3Cpqw94jt+Pqti/3PRR9nGyCwGGbEvsVXnDiz2DQDHLzIAcB9VKbHwAAAAAElFTkSuQmCC);
}

a {
	color: #bfe394;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

a:hover {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #7acb17;
	text-shadow: -1px 1px 1px #000;
	margin-bottom: 0.5em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	margin-top: 0.3em;
}

h1, h2, h3 {
	line-height: 1.1;
}

h2, h3, h4, h5, h6 {
	margin-top: 2em;
	margin-bottom: 0.2em;
}

p {
	margin-top: 0;
}

hr {
	background: #4c4e55;
	height: 1px;
	border: none;
	border-top: 1px solid #35373d;
	margin: 15px 0;
}

code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, "Lucida Console", Terminal;
	font-size: 0.9em;
}

pre, .box {
	padding: 15px;
	margin: 1em -15px;
	background: #131417;
	border-bottom: 1px solid #414349;
	overflow: hidden;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

blockquote {
	font-family: georgia, serif;
	font-style: italic;
}

dt {
	font-weight: bold;
	color: #fff;
}

strong {
	color: #fff;
}

.text-icon {
	display: inline-block;
	font-family: Entypo;
	font-style: normal;
	font-weight: normal;
	font-size: 2em;
	line-height: 0.4;
}

.page {
	margin-top: 55px;
	margin-bottom: 26em;
	position: relative;
	z-index: 1;
}

.layout {
	width: 820px;
	margin-left: auto;
	margin-right: auto;
}

.layout__sidebar {
	width: 170px;
	margin-right: -170px;
	float: left;
}

.layout__main {
	width: 570px;
	margin-left: 250px;
	position: relative;
	float: left;
}

.clear {
	clear: both;
	height: 0;
}

.site-name {
	border-bottom: 1px solid #4c4e55;
	position: relative;
}

.site-name__title {
	color: #fff;
	font-weight: bold;
	font-size: 3em;
	text-shadow: -2px 2px 1px #000;
	margin: 0;
}

.site-name__title a {
	color: #fff;
	text-decoration: none;
}

.site-name__caption {
	margin: 0;
	font-family: georgia, serif;
	font-size: 0.85em;
	font-style: italic;
	color: #636363;
	border-bottom: 1px solid #35373d;
	padding-top: 1px;
	padding-bottom: 9px;
}

.site-name__logo {
	position: absolute;
	left: -75px;
	top: -6px;
	width: 65px;
	height: 65px;
}

.site-nav {
	list-style: none;
	text-transform: uppercase;
	padding: 0;
	margin: 25px 0;
	font-size: 0.85em;
	border-bottom: 1px solid #4c4e55;
}

.site-nav__item {
	margin: 0;
	padding: 0;
	text-shadow: -1px 1px 0 #000;
	color: #c3c1c1;
	border-bottom: 1px solid #35373d;
	border-top: 1px solid #4c4e55;
}

.site-nav__item:first-child {
	border-top: none;
}

.site-nav__label {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 13px;
	margin: -1px -13px;
}

.site-nav__label_ext:after {
	content: ' \E741';
	font-family: 'Entypo';
	display: inline-block;
	margin-left: 0.3em;
	opacity: .6;
	position: relative;
	line-height: 12px;
	height: 12px;
	margin-top: -12px;
	font-size: 18px;
}

.site-nav__item_selected > .site-nav__label {
	background: #fff;
	-webkit-box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
	color: #000;
	text-shadow: none;
}

.site-nav__item_selected > a.site-nav__label:hover {
	color: #666 !important;
}

.page-content {
	/* font-family: georgia, serif; */
	line-height: 1.6;
	font-size: 1.15em;
}

.page:after {
	content: '';
	display: block;
	height: 0;
	width: 100%;
	clear: both;
}

.page-footer {
	clear: both;
	background: #000;
	padding: 50px 0;
	position: absolute;
	color: #656565;
	width: 100%;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page-footer:before {
	position: absolute;
	top: -9px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAJCAYAAADU6McMAAAAP0lEQVR42qXMsQkAIBAEQcHIjm1IsAlt7f1cZAIPNjumYDXrWXtfDIwssgWIQAgyYMiAIQOGDBj6AG5o4qj2ATN6S61aHV9eAAAAAElFTkSuQmCC);
	height: 9px;
	width: 100%;
	content: '';
	display: block;
}

.page-footer .site-name__caption {
	color: #636363;
	border: 0;
}

.page-footer .site-name {
	padding-bottom: 9px;
	border-bottom: 1px solid #1f1f1f;
	margin-bottom: 18px;
}

.page-footer h2 {
	margin: 0 0 1em;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 0.85em;
	color: #636363;
}

.page-footer a {
	color: #c5c5c5;
	text-decoration: none;
}

.page-footer a:hover {
	color: #fff;
}

.page-footer__github,
.page-footer__keycdn {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

.page-footer .page-footer__keycdn {
	width: 120px;
	top: 90px;
	font-family: georgia, serif;
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.8;
	right: 27px;
	color: #656565;
}

.donate {
	margin-left: -20px;
	margin-bottom: 40px;
}

.donate .text-icon {
	font-size: 40px;
	line-height: 20px;
	height: 40px;
	margin: -.4em 0;
	vertical-align: baseline;
	position: relative;
	top: 0.1em;
}

.incut {
	margin: 15px -15px;
	padding: 15px;
	background: #fff;
	color: #000;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

.social {
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 90px;
}

.social__item {
	margin: 10px 0;
	padding: 0;
}

.download__title {
	margin: 0;
	color: inherit;
	text-shadow: none;
	font-size: 1.3em;
	padding-top: 0.3em;
}

.download__comment {
	font-family: georgia, serif;
	font-style: italic;
	font-size: 0.9em;
	color: #999;
	line-height: 1.2;
	margin-top: 0.3em;
}

.tiles__item .download__href {
	display: block;
	position: relative;
	padding-left: 45px;
	text-decoration: none;
	color: inherit;
	height: 4.6em;
	color: #000;
}

.download__img {
	position: absolute;
	left: -5px;
}

.download .tiles__item {
	min-height: 0;
}

.author-info {
	float: right;
	padding: 15px;
	background: #fff;
	margin: -10px -100px 2em 2em;
	position: relative;

	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.author-info__title {
	text-shadow: none;
	color: #000;
	margin: 10px 0 0.5em;
}

.author-info__links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.author-info__links-item {
	margin: 0.2em;
	padding: 0;
	font-size: 0.8em;
}

.author-info__links-item a {
	color: #666;
}

.author-info__links-item a:hover {
	color: #000 !important;
}


/* Main page */
.download-frontpage {
	text-align: center;
	margin: 2em 0;
}

.download-frontpage .btn {
	font-size: 3em;
	padding-left: 2em;
	padding-right: 2em;
}

.download-frontpage__comment {
	display: block;
	font-size: 12px;
	margin-top: 0.3em;
	font-style: italic;
	font-weight: normal;
	font-family: georgia, serif;
	opacity: 0.7;
	white-space: nowrap;
	/* text-shadow: none; */
}

.FlattrButton {
	margin-right: 10px;
}

#carbonads-container {
	margin-bottom: 25px;
	min-height: 215px;
}

.carbonad {
	border: 1px solid #7c7c7c !important;
	text-align: center;
	padding: 10px;
}

.carbon-img {
	display: block;
	margin-bottom: 10px;
}

.carbon-wrap {
	display: block;
	margin-bottom: 10px;
}

.more-tools {
	margin: 20px 0;
}

.more-tools__title {
	font-family: georgia, serif;
	font-style: italic;
	color: #636363;
	font-size: 0.85em;
}

.more-tools__list {
	display: block;
	list-style-type: none;
	padding: 0;
}

.more-tools__list-item {
	margin-bottom: 1.5em;
	position: relative;
}

.more-tools__list-item::before {
	display: block;
	position: absolute;
	top: 4px;
	right: 100%;
	margin-right: 10px;
}

.more-tools__list-item_livestyle::before {
	content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjQ4cHgiIGhlaWdodD0iNDhweCIgdmlld0JveD0iMCAwIDEyOCAxMjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgICA8bGluZWFyR3JhZGllbnQgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSIgaWQ9ImxpbmVhckdyYWRpZW50LTEiPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjNTRERENBIiBvZmZzZXQ9IjAlIj48L3N0b3A+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMxOTk1N0MiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICAgICAgPGZpbHRlciB4PSItNTAlIiB5PSItNTAlIiB3aWR0aD0iMjAwJSIgaGVpZ2h0PSIyMDAlIiBmaWx0ZXJVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIGlkPSJmaWx0ZXItMiI+CiAgICAgICAgICAgIDxmZU1vcnBob2xvZ3kgcmFkaXVzPSIxIiBpbj0iU291cmNlQWxwaGEiIG9wZXJhdG9yPSJkaWxhdGUiIHJlc3VsdD0ic2hhZG93U3ByZWFkT3V0ZXIxIj48L2ZlTW9ycGhvbG9neT4KICAgICAgICAgICAgPGZlT2Zmc2V0IGR4PSIwIiBkeT0iMiIgaW49InNoYWRvd1NwcmVhZE91dGVyMSIgcmVzdWx0PSJzaGFkb3dPZmZzZXRPdXRlcjEiPjwvZmVPZmZzZXQ+CiAgICAgICAgICAgIDxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjIiIGluPSJzaGFkb3dPZmZzZXRPdXRlcjEiIHJlc3VsdD0ic2hhZG93Qmx1ck91dGVyMSI+PC9mZUdhdXNzaWFuQmx1cj4KICAgICAgICAgICAgPGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwIDAgMCAwIDAgICAwIDAgMCAwIDAgICAwIDAgMCAwIDAgIDAgMCAwIDAuNDQxOTc4MDM0IDAiIGluPSJzaGFkb3dCbHVyT3V0ZXIxIiB0eXBlPSJtYXRyaXgiIHJlc3VsdD0ic2hhZG93TWF0cml4T3V0ZXIxIj48L2ZlQ29sb3JNYXRyaXg+CiAgICAgICAgICAgIDxmZU1lcmdlPgogICAgICAgICAgICAgICAgPGZlTWVyZ2VOb2RlIGluPSJzaGFkb3dNYXRyaXhPdXRlcjEiPjwvZmVNZXJnZU5vZGU+CiAgICAgICAgICAgICAgICA8ZmVNZXJnZU5vZGUgaW49IlNvdXJjZUdyYXBoaWMiPjwvZmVNZXJnZU5vZGU+CiAgICAgICAgICAgIDwvZmVNZXJnZT4KICAgICAgICA8L2ZpbHRlcj4KICAgICAgICA8Y2lyY2xlIGlkPSJwYXRoLTMiIGN4PSI1NyIgY3k9IjU3IiByPSI1NyI+PC9jaXJjbGU+CiAgICAgICAgPGxpbmVhckdyYWRpZW50IHgxPSIyNS4wNTQwMzY5JSIgeTE9IjUuMTI1NzgzMzElIiB4Mj0iNTAlIiB5Mj0iMTAwJSIgaWQ9ImxpbmVhckdyYWRpZW50LTUiPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjRkVGRUZFIiBvZmZzZXQ9IjAlIj48L3N0b3A+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiNFMkUyRTIiIG9mZnNldD0iNTIuMTE4ODcxMiUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0NFQ0VDRSIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgICAgICA8bGluZWFyR3JhZGllbnQgeDE9IjEwMCUiIHkxPSI1Ni42MTY2MzA4JSIgeDI9IjU3LjE0MDU5MTQlIiB5Mj0iMTAwJSIgaWQ9ImxpbmVhckdyYWRpZW50LTYiPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjRkJGQkZCIiBvZmZzZXQ9IjAlIj48L3N0b3A+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiNEN0Q3RDciIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICAgICAgPGxpbmVhckdyYWRpZW50IHgxPSI1MCUiIHkxPSIwJSIgeDI9IjUwJSIgeTI9IjEwMCUiIGlkPSJsaW5lYXJHcmFkaWVudC03Ij4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0ZFRkVGRSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjQ0FDQUNBIiBvZmZzZXQ9IjEwMCUiPjwvc3RvcD4KICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkxvZ28tQ29weS0zIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3LjAwMDAwMCwgNy4wMDAwMDApIj4KICAgICAgICAgICAgPG1hc2sgaWQ9Im1hc2stNCIgZmlsbD0id2hpdGUiPgogICAgICAgICAgICAgICAgPHVzZSB4bGluazpocmVmPSIjcGF0aC0zIj48L3VzZT4KICAgICAgICAgICAgPC9tYXNrPgogICAgICAgICAgICA8dXNlIGlkPSJCYWNrLUNvcHktNiIgZmlsbD0idXJsKCNsaW5lYXJHcmFkaWVudC0xKSIgZmlsdGVyPSJ1cmwoI2ZpbHRlci0yKSIgeGxpbms6aHJlZj0iI3BhdGgtMyI+PC91c2U+CiAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMy1Db3B5LTQiIHN0cm9rZT0idXJsKCNsaW5lYXJHcmFkaWVudC01KSIgc3Ryb2tlLXdpZHRoPSIxMi41IiBtYXNrPSJ1cmwoI21hc2stNCkiIGN4PSI4NS45NDUzMTI1IiBjeT0iNTAuMzIwMzEyNSIgcj0iNTMuODgyODEyNSI+PC9jaXJjbGU+CiAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMy1Db3B5IiBzdHJva2U9InVybCgjbGluZWFyR3JhZGllbnQtNikiIHN0cm9rZS13aWR0aD0iMTIuNSIgbWFzaz0idXJsKCNtYXNrLTQpIiBjeD0iLTYuMjM0Mzc1IiBjeT0iLTQuODk4NDM3NSIgcj0iODYuMzkwNjI1Ij48L2NpcmNsZT4KICAgICAgICAgICAgPGNpcmNsZSBpZD0iQmFjay1Db3B5LTciIHN0cm9rZT0idXJsKCNsaW5lYXJHcmFkaWVudC03KSIgc3Ryb2tlLXdpZHRoPSIzLjc1IiBjeD0iNTciIGN5PSI1NyIgcj0iNTciPjwvY2lyY2xlPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==');
}

.more-tools__list-item_review::before {
	content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjQ4cHgiIGhlaWdodD0iNDhweCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgICAgPGxpbmVhckdyYWRpZW50IHgxPSI1MCUiIHkxPSIwJSIgeDI9IjUwJSIgeTI9IjEwMCUiIGlkPSJsaW5lYXJHcmFkaWVudC0xIj4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzU4REFDQyIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjMTRBMzhCIiBvZmZzZXQ9IjEwMCUiPjwvc3RvcD4KICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgIDxmaWx0ZXIgeD0iLTUwJSIgeT0iLTUwJSIgd2lkdGg9IjIwMCUiIGhlaWdodD0iMjAwJSIgZmlsdGVyVW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiBpZD0iZmlsdGVyLTIiPgogICAgICAgICAgICA8ZmVPZmZzZXQgZHg9IjAiIGR5PSIxIiBpbj0iU291cmNlQWxwaGEiIHJlc3VsdD0ic2hhZG93T2Zmc2V0T3V0ZXIxIj48L2ZlT2Zmc2V0PgogICAgICAgICAgICA8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIyIiBpbj0ic2hhZG93T2Zmc2V0T3V0ZXIxIiByZXN1bHQ9InNoYWRvd0JsdXJPdXRlcjEiPjwvZmVHYXVzc2lhbkJsdXI+CiAgICAgICAgICAgIDxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwICAgMCAwIDAgMCAwICAgMCAwIDAgMCAwICAwIDAgMCAwLjIxMzMwMTM1NiAwIiBpbj0ic2hhZG93Qmx1ck91dGVyMSIgdHlwZT0ibWF0cml4IiByZXN1bHQ9InNoYWRvd01hdHJpeE91dGVyMSI+PC9mZUNvbG9yTWF0cml4PgogICAgICAgICAgICA8ZmVNZXJnZT4KICAgICAgICAgICAgICAgIDxmZU1lcmdlTm9kZSBpbj0ic2hhZG93TWF0cml4T3V0ZXIxIj48L2ZlTWVyZ2VOb2RlPgogICAgICAgICAgICAgICAgPGZlTWVyZ2VOb2RlIGluPSJTb3VyY2VHcmFwaGljIj48L2ZlTWVyZ2VOb2RlPgogICAgICAgICAgICA8L2ZlTWVyZ2U+CiAgICAgICAgPC9maWx0ZXI+CiAgICA8L2RlZnM+CiAgICA8ZyBpZD0idjIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSI0OCI+CiAgICAgICAgICAgIDxnIGlkPSJhcHAtaWNvbi1jb3B5Ij4KICAgICAgICAgICAgICAgIDxyZWN0IGlkPSJzbWFsbCIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9InVybCgjbGluZWFyR3JhZGllbnQtMSkiIGZpbHRlcj0idXJsKCNmaWx0ZXItMikiIHg9IjQiIHk9IjQiIHdpZHRoPSIxNiIgaGVpZ2h0PSIyNiIgcng9IjIiPjwvcmVjdD4KICAgICAgICAgICAgICAgIDxyZWN0IGlkPSJsYXJnZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9InVybCgjbGluZWFyR3JhZGllbnQtMSkiIGZpbHRlcj0idXJsKCNmaWx0ZXItMikiIHg9IjI1IiB5PSI0IiB3aWR0aD0iMTkiIGhlaWdodD0iNDAiIHJ4PSIyIj48L3JlY3Q+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=');
}

.more-tools__list-item-link {
	font-size: 1.2em;
	text-decoration: none;
}

.more-tools__list-item-info {
	margin-top: 5px;
	line-height: 1.4;
	font-size: 0.7em;
	color: #888;
}

#carbonads .carbon-wrap,
#xrxbcfk_5 .xrxbcfk_5-wrap {
	display: block;
}

#carbonads .carbon-img,
#xrxbcfk_5 .xrxbcfk_5-img {
	display: block;
}

#carbonads .carbon-img img,
#xrxbcfk_5 .xrxbcfk_5-img img {
	display: block;
}

#carbonads .carbon-text,
#xrxbcfk_5 .xrxbcfk_5-text {
	clear: both;
	display: block;
}

#carbonads .carbon-poweredby,
#xrxbcfk_5 .xrxbcfk_5-poweredby {
	display: block;
}
