<link rel="import" href="./em-config-options.html" />
<link rel="import" href="./em-config-shortcuts.html" />

<script src="./em-config-st.ts"></script>
<template>
    <main>
        <em-config-options
            data={#options}
            form={#optionsForm}
            defaults={#optionsDefaults}
            on:update={e => #options = e.detail} />

        <em-config-shortcuts
            {#shortcuts}
            on:update={e => #shortcuts = e.detail} />

        <footer>
            <button type="submit" on:click:prevent={onSubmit}>Submit</button>
            <button type="reset" on:click:prevent={onReset}>Reset</button>
        </footer>
    </main>
</template>
