:host {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 1.4;
}

.key {
    flex: 2 0;
    padding: 8px 0;
}

.value {
    flex: 3 1;
    padding: 8px 0 8px 12px;
}

.controls {
    flex: 0 0;
    min-width: 100px;
    white-space: nowrap;
    text-align: right;
}

.key:not(.edit),
.value:not(.edit) {
    min-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

em-editor {
    font-size: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
    margin: -5px;
}
