<link rel="stylesheet" href="./em-app.scss" />
<link rel="import" href="../em-config/em-config-common.html" />
<link rel="import" href="../em-config/em-config-st.html" />

<script>
export function onSubmit(component, evt) {
    console.log('will submit', evt.detail);
    component.store.updateCommonConfig(evt.detail);
}
</script>
<template>
    <em-config-st options={$editor.st.options} shortcuts={$editor.st.shortcuts} />
    <em-config-common
        options={$commonConfig.options}
        variables={$commonConfig.variables}
        snippets={$commonConfig.snippets}
        on:submit={onSubmit}/>
</template>
