@import url('codemirror/lib/codemirror.css');
@import url('codemirror/addon/hint/show-hint.css');

.CodeMirror {
	font-family: 'Fira Code', Consolas, Menlo, monospace;
	line-height: 1.5;
	font-size: 13px;
}

.cm-operator {
	color: #a50;
}

.cm-text {
	color: #ccc;
}

/* Add subtle visual clue for marked Emmet abbreviation */
.emmet-abbreviation {
	border-bottom: 1px dotted green;
}

/* Emmet completions styling */
.emmet-label {
	display: inline-block;
	min-width: 100px;
}

.emmet-preview {
	margin-left: 15px;
	opacity: 0.6;
	display: inline-block;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.emmet-preview__expand {
	display: block;
	margin-left: 0;
	max-width: 400px;
	max-height: 5.5em;
	white-space: pre;
}

.emmet-open-tag,
.emmet-close-tag {
	border-bottom: 1px dotted red;
}
