ref:input {
	position: relative;
	z-index: 2;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
	line-height: 1.5em;
	height: 1.5em;
	min-height: 30px;
	font-size: 15px;
	border-radius: 2px;
	display: flex;

	::global(.CodeMirror),
	::global(.CodeMirror-scroll) {
		overflow: visible !important;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.input {
	flex: 1 1;
	height: 100%;
}

em-syntax-picker {
	flex: 0 0;
	margin: 2px;
	padding: 2px 4px;
	position: relative;
	background: #aaaaaa;
	color: #ffffff;
	font-size: 12px;
	border-radius: 2px;
}

ref:preview {
	position: relative;
	z-index: 1;
	height: 300px;
	font-size: 12px;
}

slot[name=comment] {
	font-size: 10px;
	color: #cccccc;
}
